extends layout

block content
  h1= title
  p Welcome to #{title}
  
  #products
    button#product1.product More info
    button#product2.product More info
    button#product3.product More info
    button#product4.product More info
    button#product5.product More info
    button#product6.product More info
  
  #highlight
    h3#productname Product Name
    img(src='' width="300px")#image
    p#info Product Info
  
  script(src="/javascripts/javascripts.js")
